.login-create-account-screen {
    width: 100%;
    height: 100vh;
    background-color: #E4D6BE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 70%; /* 👈 makes it responsive on small screens */
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    background-color: #558D8C;
    border: 0px;
}

.login-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.create-account-link-container {
    margin-bottom: 0px;
}

.create-account-link {
    color: #97483E;
}
  